
sdkjs-plugins/plugin-highlightcode/
sdkjs-plugins/plugin-macros/
sdkjs-plugins/plugin-mendeley/
sdkjs-plugins/plugin-ocr/
sdkjs-plugins/plugin-photoeditor/
sdkjs-plugins/plugin-speech/
sdkjs-plugins/plugin-thesaurus/
sdkjs-plugins/plugin-translator/
sdkjs-plugins/plugin-youtube/
sdkjs-plugins/plugin-zotero/
